<div>
  lorem ipsum test 123 123 123 
</div>
<div>
  <img src="https://picsum.photos/200/300">
</div>
{% render 'FirstSnipped' %}
{% for product in collections.all.products %}
<div>
  {{ product.title }}
  <img src="{{ product.featured_image | img_url: '300x300' }}">
</div>  
{% endfor %}
{% schema %}
  {
    "name": "Section name",
    "settings": [
        {
          "type": "text",
          "id": "deneme",
          "label": "deneme font"
        }
    ],
    "presets": [
      {
        "name": "Test Section 1"
      }
    ],
    "blocks":[
      
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}